.adminLandContainer {
    background-color: white;
    /* border: 1px solid #0000005e; */
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(248, 70, 70, 0.08);
    padding: 20vw;
    /* padding-inline: 20vw; */
    border-width: 100%;
    max-width: 900px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.adminLandContainer ul li {
    /* text-decoration: none; */
    list-style: none;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.adminLandContainer a {
    font-size: 20px;
    color: #222;
    text-decoration: none;
}

#logout {
    background: transparent;
    border: none;
}