body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffc164;
}
.preloader {
    width: 500px;
    height: 500px;
    position: absolute;
    margin: auto;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 220px;
    animation: bounce 0.9s infinite;
}

@keyframes bounce {
    10% {
        height: 50px;
        width: 50px;
    }
    30% {
        height: 50px;
        width: 40px;
    }
    50% {
        height: 30px;
        width: 57px;
        transform: translateY(240px);
    }
    75% {
        height: 50px;
        width: 57px;
    }
    100% {
        transform: translateY(0px);
    }
}

.container {
    width: 57px;
    height: 50px;
}
.shadow {
    width: 65px;
    height: 10px;
    background-color: rgba(8, 8, 8, 0.05);
    border-radius: 50%;
    position: relative;
    top: 310px;
    left: 212px;
    z-index: -1;
    animation: skrink 0.9s infinite;
}

@keyframes skrink {
    50% {
        transform: scale(0.5);
    }
}
