.catbox{
  padding: 25px 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction:row;
  display:flex;
  align-items: center;
  gap: 11%;
}
.cat-grid{
  position: relative;
  border-radius: 20px;
  height: 410px;
  width: 410px;
  box-shadow: 0 2px 8px;
  overflow: hidden;
  text-align: center;
}
.cat-grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/* <-- button animation -- > */
.cat-grid button{
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ECCBD9;
  border: none;
  padding: 10px 55px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover{
  background-color: #d56974;
  transform: translate(-50%, -5px)scale(1.05);
}
/* <--end of button animation -- > */
.catalog h1{
  padding: 2px 40px;
  text-shadow: 2px 5px 15px #71738d;
}
.catalog{
  padding: 50px
}
@media (max-width: 950px){
  .catalog h1{
    padding: 10px 18px;
    font-size: 25px;
  }
  .catbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    overflow-x: auto;
    gap: 13%;
    scroll-snap-type: x mandatory;
  }
  .cat-grid{
    flex: 0 0 250px;
    height: 250px;
    overflow: hidden;
    position: relative;

  }
  .cat-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .cat-grid button{
    font-size: 14px;
    padding: 1px 50px;
    margin-bottom: 10px;
    align-self: center;
    bottom: 6px;
  }
  /* <--scrollbar--> */
  .catbox::-webkit-scrollbar{
    width: 16px;
  }
  .catbox::-webkit-scrollbar-thumb{
    background-color: #d38751;
    border: 4px solid #FFFDF0;
    border-radius: 14px;
  }
}