.teamdev {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 10%;
}

.memberdev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 250px;
    height: 260px;
    box-sizing: border-box;
    text-align: center;
}
.memberdev .icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.memberdev .icon img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon img:hover {
    transform: scale(1.2);
}

.teamdev img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 16px;
}

.devpic {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15),
                0 4px 6px rgba(0, 0, 0, 0.1);
}