.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 60px 0;
}

.cat-img {
    width: 420px;
    height: 430px;
    margin-bottom: 5px;
    margin-left: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: block;
}

/* Place the cat ID under the picture */
.cat-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-id {
    width: auto;
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}

/* white box */
.info-box {
    margin-right: 350px;
    padding: 40px 100px;
    background: #fffdfa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 17px;
    line-height: 2.0;
    margin-top: 35px;
}

.buy-btn {
    font-family: 'Prompt', sans-serif;
    margin-top: 45px;
    margin-left: 145px;
    border-radius: 100px;
    padding: 10px 65px;
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
    transform: translateX(-50%);
    background-color: #ECCBD9;
    border: none;
    transition: all 0.3s ease;
}

.buy-btn:hover {
    background-color: #d56974;
    transform: translate(-50%, -3px)scale(1.05);
}

@media (max-width: 950px) {
    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px
    }

    .cat-img {
        width: 90%;
        max-width: 360px;
        height: auto;
        margin: 0 auto;
    }

    .cat-id {
        margin-top: 10px;
        text-align: left;
        margin-left: 18px;
    }

    .info-box {
        width: 400px;
        margin: 30px 40px;
        max-width: 330px;
        background: #fffdfa;
        padding: 18px 15px;
        border-radius: 12px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .info-box p {
        margin: 6px 0;
        font-size: 14px;
        line-height: 1.4;
    }

    .buy-btn {
        padding: 12px 45px;
        transform-origin: center;
        cursor: pointer;
    }
}