/* ===== Login Section ===== */
.login-section {
  text-align: center;
  /*บนขวาล่างซ้าย*/
  padding: 0 16px 80px 16px;
}

.login-section h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 32px;
  color: #462e40;
  margin-bottom: 32px;
  letter-spacing: 2px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form input {
  width: 280px;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.login-form button {
  width: 120px;
  padding: 10px 0;
  background-color: #E6B8C3; /* ชมพูตามภาพ */
  color: #222;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  cursor: pointer;
}

#logintext {
  color: red;
}